@font-face {
  font-family: 'Mont';
  src: url(../fonts/Mont-Regular.ttf);
}

html {
  font-family: 'Mont';
  scroll-behavior: smooth;
}

body {
  margin: 0;
  
  color: white;
  }



/*NAVBARRRRRRRRRRR*/
.principal{
  background-image: url("../assets/fondooo-1.jpg");
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  
}

.header {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border-radius: 100px 100px 100px 100px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 25px;
  padding-right: 25px;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
  width: calc(100% - 60px);
  max-width: 1300px;
  z-index: 1000;
}

.resaltado {
  background: linear-gradient(90deg, rgba(96, 0, 255, 1) 0%, rgba(255, 72, 0, 1) 50%, rgba(255, 101, 0, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  position: relative;
}


.gif-subrayado {
  width: 150px;
  margin-top: -30px;
  margin-bottom: 10px;
}


.btn-outline:hover {
  background-color: #ff3300;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}


.navbar .dropdown {
  position: relative;
}

.navbar .dropdown-menu {
  display: none;
  position: absolute;
  background-color: white;
  top: 100%;
  left: 0;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  padding-top: 15px;
  z-index: 10;
  min-width: 150px;
}

.navbar .dropdown-menu li a{
  color: #54595F;
}

.navbar .dropdown:hover .dropdown-menu,
.navbar .dropdown:focus-within .dropdown-menu {
  margin-top: 1px;
  display: block;
}

.dropdown-menu li {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  white-space: nowrap;
}

.dropdown #drop-nosotros {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  white-space: nowrap;
}

.dropdown-menu #redes {
  border-top: .1px solid #f0f0f0;
}

.dropdown-menu #metodo {
  border-top: .1px solid #f0f0f0;
}

.dropdown-menu #blog {
  border-top: .1px solid #f0f0f0;
}

.dropdown-menu #web {
  border-top: .1px solid #f0f0f0;
}

.dropdown-menu li a {
  color: black;
  font-weight: normal;
  text-decoration: none;
}

.dropdown-menu li a:hover {
  color: #ff3300;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: nowrap;
}

.logo {
  flex-shrink: 0;
}

.nav-links {
  flex: 1;
  display: flex;
  justify-content: center;
}

.nav-links nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.nav-links nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  transition: 0.2s ease;
}

.nav-links nav ul li a:hover {
  color: #ff3300;
}


.navbar > nav {
  flex: 1;
  display: flex;
  justify-content: center;
}

.navbar img {
  width: 200px;
}

.navbar nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.navbar nav ul li a {
  text-decoration: none;
  color: #272727;
  font-weight: 600;
  transition: 0.2s ease;
  font-size: 14px;
  letter-spacing: .7px;
}

.navbar nav li a:hover {
  color: #ff3300;
  text-decoration: underline;
  text-underline-offset: 4px;
  transition: all 0.2s ease-in-out;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.tienda {
  font-family: 'Mont';
  background: #6000FF;
background: linear-gradient(90deg,rgba(96, 0, 255, 1) 0%, rgba(255, 72, 0, 1) 50%, rgba(255, 101, 0, 1) 100%);
  border: none;
  padding: 13px 19px 12px 19px;
  border-radius: 100px 100px 100px 100px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}

.tienda:hover {
  transition: all .5s ease;
  background-color: #d12a01;
}

.tienda svg {
  width: 16px;
  height: 16px;
  fill: white;
}

.lang {
  font-family: 'Mont';
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  padding: 6px 10px;
}

.lang img {
  width: 20px;
  height: 14px;
  border-radius: 2px;
}

.contacto {
  font-family: 'Mont';
  background-color: #202020;;
  color: white;
  border: none;
  padding: 13px 19px 12px 19px;
  border-radius: 100px 100px 100px 100px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.contacto:hover {
  transition: all .5s ease;
  background-color: #0e0d0d;
}

/* HERO SECTION */

.hero {
  text-align: center;
  padding: 150px 20px;
  padding-bottom: 90px;
}

.hero-content h1 {
  font-size: 60px;
  font-weight: 600;
  line-height: 61px;
  letter-spacing: -1px;
  margin-bottom: 40px;
}

.hero-content h1 .elegida {
  color: #ff3300;
  text-decoration: underline 4px solid #ff3300;
}

.hero-content p {
  text-align: center;
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  text-transform: none;
  font-style: normal;
  text-decoration: none;
  line-height: 1.5em;
  padding-bottom: 50px;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.btn-primary {
  background-color: #FE3501;
  border: none;
  padding: 18px 30px 18px 30px;
  border-radius: 100px 100px 100px 100px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  font-family: 'Mont';
}

.btn-outline {
  background-color: transparent;
  border: 2px solid #FE3501;
  padding: 18px 30px 18px 30px;
  border-radius: 100px 100px 100px 100px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  font-family: 'Mont';
}

.stats {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 150px;
  font-size: 36px;
}

.stats div {
  text-align: center;
}

.counter {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 5px;
}

.counter .plus {
  font-size: 65px;
  font-weight: bold;
  color: white;
}

.counter .number {
  font-size: 65px;
  font-weight: bold;
  color: white;
}

.stats div p {
  margin: 0;
  font-size: 16px;
  color: #d0d0d0;
}


/* SERVICESS */
.services {
  background: #1D1D1D;
  padding: 60px 40px;
}

.title-services {
  text-align: center;
  margin-bottom: 40px;
  color: #fff;
  
}

.title-services h2 {
  
  font-size: 45px;
  font-weight: 600;
}



.cards-grid > .card:nth-child(1) {
  grid-column: span 4; 
  grid-row: 1;
}

.cards-grid > .card:nth-child(2) {
  grid-column: 5 / span 4;
  grid-row: 1;
}

.cards-grid > .card:nth-child(3) {
  grid-column: 9 / span 4;
  grid-row: 1;
}


.cards-grid > .card:nth-child(4) {
  grid-column: 1 / span 4;
  grid-row: 2;
}

.cards-grid > .card:nth-child(5) {
  grid-column: 5 / span 4;
  grid-row: 2;
}

.cards-grid > .card:nth-child(6) {
  grid-column: 9 / span 4;
  grid-row: 2;
}


.cards-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr); /* 12 columnas para mayor control */
  grid-auto-rows: auto;
  gap: 20px;
  max-width: 1400px;
  margin: 0 auto;
}

/* Tarjeta */
.card {
  background: #292929;
  border-style: solid;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-color: #FFFFFF14;
  border-radius: 15px;
  padding: 25px 35px 25px 35px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
}

.card img {
  max-width: 100%;
  height: 135px;
  object-fit: contain;
  margin-bottom: 20px;
  object-position: center left;
}

.card h3 {
  font-size: 22px;
  margin-bottom: 15px;
  line-height: 21px;
}

.card a {
  display: flex;  
  justify-content: space-between;
  align-items: center;
  width: 100%; 
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
  margin-top: 20px; 
}

.arrow-icon {
  display: inline-block;
  font-size: 1.2rem;
  transition: transform 0.3s;
}

.card a:hover .arrow-icon {
  transform: translateX(5px);
}

.card:hover {
  transition: all 0.5s ease;
  background-color: #ff4800;
}

/* SECCION PORTAFOLIOO */
.portafolio {
  background-color: #1D1D1D;
  justify-items: center;
}

.titulo-porta {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: repeat(2, auto);
  gap: 8px;
  max-width: 1500px;
  margin: 0 5%;
}

.principal-porta {
  font-size: 45px;
  font-weight: 600;
  color: #FFF;
  margin-bottom: 10px;
}

.sec {
  letter-spacing: .5px;
  grid-column-start: 1;
  grid-row-start: 2;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 25px;
}

.btn-asesoria {
  grid-row: span  / span 1;
  grid-column-start: 2;
  grid-row-start: 1;
  display: flex;
  justify-content: right;
  align-items: right;
  text-decoration: none;
}

.asesoria {
  background: linear-gradient(90deg,rgba(96, 0, 255, 1) 0%, rgba(255, 72, 0, 1) 50%, rgba(255, 101, 0, 1) 100%);
  font-size: 17px;
  font-weight: 600;
  font-family: 'Mont';
  border: none;
  color: #FFF;
  padding: 17px 28px;
  border-radius: 100px;
  cursor: pointer;
  text-decoration: none;
}


.sliders {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 8px;
    margin: 0 3%;
    max-width: 1500px;
}

.sliders img {
  height: 100%;
  width: 100%;
  max-height: 390px;
}

.slider3 {
    grid-column: span 2 / span 2;
    position: relative;
}

.slider4 {
    grid-column: span 2 / span 2;
    grid-row-start: 2;
    position: relative;
}

.slider5 {
    grid-column-start: 3;
    grid-row-start: 2;
    position: relative;
}

.slider6 {
    grid-column-start: 4;
    grid-row-start: 2;
    position: relative;
}

.slider7 {
    grid-row-start: 3;
    position: relative;
}

.slider8 {
    grid-row-start: 3;
    position: relative;
}

.slider9 {
    grid-column: span 2 / span 2;
    grid-row-start: 3;
    position: relative;
}

      
/* PAQUETES*/
.paquetes {
  background-color: #1D1D1D;
  padding: 60px 40px;
}

.title-paquetes {
  text-align: center;
  margin-bottom: 40px;
  color: #fff;
}

.title-paquetes h2 {
  font-size: 45px;
  font-weight: 600;
}

.title-paquetes p {
    text-align: center;
    font-size: 17px;
    font-weight: 400;
}


.tabs-wrapper {
  max-width: 1211px; 
  width: 100%;
  margin: 0 auto;
}

.tabs {
  display: flex;
  justify-content: center;
  width: 100%; 
}

.tab {
  padding: 15px 35px 15px 35px;
  background: #dcdcdc;
  border-radius: 15px 15px 0 0;
  font-weight: 600;
  color: #494949;
  font-size: 18px;
  cursor: pointer;
  flex: 1 1 auto; 
  min-width: 353px;
  text-align: center;
}

.tab.active {
  background: white;
  color: #ff3c00;
}


.tab-content {
  display: none;
  background: white;
  border-radius: 0 0 15px 15px;
  padding: 30px;
  color: #111;
}

.number-title{
  color: #ff3c00;
}

.tab-content.active {
  max-width: 1211px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  background: white;
  border-radius: 0 0 15px 15px;
  padding: 30px;
}

@media (max-width: 768px) {
  .tabs {
    flex-direction: column;
  }

  .tab {
    border-radius: 0;
  }
}

.paquete-box {
  max-width: 338px;
  padding: 25px;
  background-color: #FFF;
  background-image: url(../assets/DEGRADADO.png);
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 15px;
  border: 1px solid #020202;
  text-align: left;
}

.paquete-box h3 {
  font-weight: 800;
  font-size: 20px;
  color: #ff3c00;
  margin-bottom: 15px;
}

.paquete-box ul {
  list-style: none;
  padding-left: 0;
  font-size: 15px;
}

.paquete-box li {
  margin-bottom: 8px;
}

.paquete-box .tiempo {
    font-size: 16px;
    font-weight: 700;
    width: 140px;
    text-transform: capitalize;
    font-style: normal;
    text-decoration: none;
    line-height: 1em;
    letter-spacing: 0;
    fill: #1E1E1E;
    color: #1E1E1E;
    background-color: #fff0;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #161616;
    border-radius: 10px 10px 10px 10px;
    padding: 10px 20px 7px 20px;
}

.paquete-box .tiempo-red {
     font-weight: bold;
  color: #ff3c00;
  margin: 15px 0;

}

.ver-precio {
  display: flex;
  justify-content: space-between;
  color: #111;
  font-weight: bold;
  text-decoration: none;
  margin-top: 10px;
  font-size: 25px;
}

.asesoria-paquetes {
  text-align: center;
  margin-top: 40px;
}

/* CONFIAN*/
.confian {
  background-color: #1D1D1D;
  background-position: center;
  background-repeat: no-repeat;
  padding: 60px 40px;
}

.title-confian {
  text-align: center;
  margin-bottom: 40px;
  color: #fff;
  font-size: 45px;
  font-weight: 600;
}

/* PREGUNTA*/

.pregunta {
  background-color: #1D1D1D;
  padding: 60px 20px;
  color: white;
}

.contenedor-pregunta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.pregunta .asesoria {
  margin-top: 10px;
  text-decoration: none;
}

.pregunta-texto {
  flex: 1 1 300px;
}

.pregunta-texto h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.pregunta-texto p {
  font-size: 1.1rem;
  margin-bottom: 50px;
}

.pregunta-lista {
  flex: 2 1 500px;
}

.pregunta-lista ul {
  list-style: none;
  padding: 0;
}

.pregunta-lista li {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 20px;
  line-height: 1.6;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 15px;
}

.pregunta-lista li i {
  color: white;
  margin-top: 5px;
  font-size: 0.9rem;
  min-width: 16px;
}

/* PROCESO*/

.proceso{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding-top: 6%;
    padding-bottom: 70px;
  }


.title-proceso {
  color: #FE3501;
  text-align: center;
  margin-bottom: 40px;
  
  font-size: 45px;
  font-weight: 600;
}

.subtitulo-proceso {
  margin-bottom: 50px;
  text-align: center;
  color: #373737;
    font-size: 25px;
    font-weight: 400;
}

.contenedor-proceso {
  display: flex;
  justify-content: center;
  
  gap: 30px;
  flex-wrap: wrap;
 
}

.column {
  flex: 1 1 300px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.paso {
  position: relative;
}

.numero {
  background-color: #FE3501;
  color: white;
  font-weight: bold;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -20px;
  top: 8px;
  z-index: 1;
}

details {
  background: #fff;
  padding: 25px 25px 25px 25px;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.05);
  border: 1px solid #ddd;
  cursor: pointer;
  color: #020202;
}


details:hover {
  background: #fff;
  padding: 25px 25px 25px 25px;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.05);
  border: 1px solid #FE3501;;
  cursor: pointer;
  color: #020202;
}

details summary {
  font-size: 21px;
  font-weight: 500;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

details p {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 400;
  color: #444;
  text-align: left;
  margin-bottom: 10px;
}

.columna-izquierda,
.columna-derecha {
  justify-content: center;
}



.icon-toggle {
  transition: transform 0.3s ease;
  margin-left: 10px;
  color: #FE3501;
}

details[open] .icon-toggle {
  transform: rotate(180deg);
}

details .contenido-details {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}

details[open] .contenido-details {
  max-height: 500px;
  opacity: 1;
}

.gif-centro {
  position: relative;
  flex: 1 1 300px;
  max-width: 320px;
  border-radius: 25px;
  overflow: hidden;
}

.gif-img {
  width: 100%;
  border-radius: 25px;
  display: block;
}

.marca-superior {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 2;
  color: white;
  padding: 0 10px;
  font-size: 13px;
}

.logo {
  width: 24px;
  height: 24px;
}



/* REDES SOCIALES*/

.redes{
  background-color: #1D1D1D;
  padding: 60px 20px;
  color: white;
}

.encabezado-redes{
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: repeat(2, auto);
  gap: 8px;
  max-width: 1500px;
  margin: 0 5%;
  margin-bottom: 40px;
}

.logo-redes{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logo-redes img{
  width: 40%;
  margin-bottom: 0.5rem;
}

.logo-redes h2{
  font-size: 50px;
  font-weight: 600;
  margin: 0;
  color: white;
}

.encabezado-redes .asesoria {
  text-decoration: none;
  display: grid;
  grid-column-start: 2;
  grid-row-start: 1;
  justify-content: right;
}

.btn-asesoria a {
  text-decoration: none;
}

.tarjetas-redes{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.tarjeta {
  position: relative;
  max-height: 500px;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
  border: 3px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  
}

.tarjeta img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.3s ease;
}


.tarjeta:hover .overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

/* FOOTER */

.footer{
  background-color: #1D1D1D;
  color: white;
  padding: 60px 20px 30px;
}

.footer-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1300px;
  margin: 0 auto;
}

.footer-col{
  min-width: 280px;
}

.footer-gif{
  max-width: 160px;
  border-radius: 10px;
}

.footer-col h3 {
  color: #ff6500;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 0;
}


.footer-col p,
.footer-col a {
  font-size: 15px;
  color: white;
  text-decoration: none;
}

.footer-social a{
  color: #6000FF;
  margin-right: 30px;
  font-size: 30px;
}

.footer-col ul{
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 5px;
  color: #6000FF;
  
}

.footer-col ul li a {
  padding-left: 10px;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-col ul li a:hover {
  color: #6000FF;
}

.footer-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 10px;
}

.footer-form input {
  font-family: 'Mont';
  font-size: 16px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  color: white;

}

.footer-form button {
  font-family: 'Mont';
  font-size: 16px;
  padding: 12px;
  padding-bottom: 16px;
  padding-top: 16px;
  background: linear-gradient(90deg,rgba(96, 0, 255, 1) 0%, rgba(255, 72, 0, 1) 50%, rgba(255, 101, 0, 1) 100%);
  color: white;
  border: none;
  border-radius: 30px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.footer-form button:hover {
  background-color: #cc2a01;
}


.blog-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  gap: 10px;
}

.blog-item img {
  width: 182px;
  height: 63px;
  object-fit: cover;
  border-radius: 8px;
}

.blog-item p {
  margin: 0;
  font-size: 17px;
}

.blog-item a {
  color: #fe3501;
  font-size: 13px;
  text-decoration: none;
}


.footer-bottom{
  text-align: center;
  padding-top: 20px;
  font-size: 13px;
  font-family: 'Mont';
}

.footer-bottom hr{
  border: none;
  border-top: 1px solid #555;
  margin-bottom: 10px;
}


.col-navegacion {
  margin-left: 20px; 
  margin-right: 150px; 
  margin-right: 100px;
    min-width: 400px;
}

.col-navegacion ul {
  list-style: none;
  padding: 0;
  columns: 2; 
  column-gap: 40px;
  padding-bottom: 9px; 
}

.col-navegacion ul li {
  margin-bottom: 8px;
}

@media screen and (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-col {
    text-align: center;
  }

  .footer-form {
    align-items: center;
  }

  .footer-form input {
    width: 100%;
    max-width: 300px;
    text-align: center;
  }

  .footer-form button {
    width: 100%;
    max-width: 300px;
  }

  .blog-item {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .blog-item img {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 600px) {
  .col-navegacion ul {
    columns: 1;
  }

  .col-navegacion {
    margin-left: 0;
    margin-right: 0;
  }
}